.shaltStart {
   z-index: 11000;
//    border: $crvenaGr;
    margin-left: 5%;
    @include naslovNaMobilnim;
    font-size: 15px;
    display: flex;
    align-items: center;
    
    @media screen and (min-width: 992px){
    text-align: right;
        
    }
    
    &>div {
        display: inline-block;
        text-align: center;
//        border: $crvenaGr;
        @media screen and (min-width: 992px){
    float: right;
        
    }
        
    }
    
    & div:nth-of-type(1) { //div sa strelicom
//        border: $crvenaGr;
        width: 20%;
        
         @media screen and (min-width: 460px){
       width: 30%;
        }
    
     @media screen and (min-width: 640px){
            
        }
    
     @media screen and (min-width:768px){
          
        }
    
    @media screen and (min-width: 992px){
    
        
    }
    
    @media screen and (min-width: 1200px){
       
         
       
    }
        
    }
    
     & div:nth-of-type(2) { //div sa imenom
        text-align: center;
        width: 70%;
         
         
          @media screen and (min-width: 460px){
       width: 65%;
        }
    
     @media screen and (min-width: 640px){
            
        }
    
     @media screen and (min-width:768px){
          
        }
    
    @media screen and (min-width: 992px){
    width: 50%;
        font-size: 18px;
        float: right;
    }
    
    @media screen and (min-width: 1200px){
       
         
       
    }
    }
    
    
    &>div>img {
        display: block;
        margin: 0 auto;
        width: 60%;
        -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
        
        @media screen and (min-width: 460px){
       width: 50%;
        }
    
     @media screen and (min-width: 640px){
            
        }
    
     @media screen and (min-width:768px){
          
        }
    
    @media screen and (min-width: 992px){
    
        float: right;
        
    }
    
    @media screen and (min-width: 1200px){
       
         
       
    }
        
        
    }
    
}

.shalt {
    float: right;
    width: 40%;
    position: fixed;
//    top:16%;
    right: 0;
    z-index: 10;
//    border: $crvenaGr;
    
    @media screen and (min-width: 460px){
       width: 35%;
        }
    
     @media screen and (min-width: 640px){
            width: 28%;
        }
    
     @media screen and (min-width:768px){
          width: 23%;
        }
    
    @media screen and (min-width: 992px){
    width: 18%;
        
    }
    
    @media screen and (min-width: 1200px){
       
         
       
    }
    
}


.objIgo {
    display: none;
    
}

.goSite {
    text-align: center;
    &:nth-child(odd){
        background-color: $glavnaPlava3;
    }
    
     &:nth-child(even){
        background-color: $glavnaZuta3;
    }
    
    & a {
        text-decoration: none;
        @include naslovNaMobilnim;
    font-size: 15px;
        color: #fff;
        
    }
}
